<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="HandheldFriendly" content="True" />
    <meta name="description" content="{{page.description}}">
    <meta name="google-site-verification" content="wAOMBGbFqGpWc4AI5RPseuVKHc3a9n8hE60o5RQlZ3A" />
    <title>{{page.title}} | {{site.data.settings.site_title}}</title>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.1/css/tachyons.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Lato:300|Open+Sans:300|Merriweather" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css"/>

  </head>
  <body>

    {% include header.html %}

    <main>

      {{content}}

    </main>

    {% include footer.html %}

    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <!-- fancybox
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js"></script> -->

    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>

    <!-- Google Maps -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsJTyC8inhzYGEOsEPdWIeyB4CtanrB3U&callback=initMap">
    </script>

  </body>
</html>
